﻿<style type="text/css" >
.grid {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    width: 650px;
    display: table;
    border-collapse: collapse;
    border: solid 1px #C5C5C5;
    background-color: white;
}

.grid td, th {
    border: 1px solid #C5C5C5;
    padding: 3px 7px 2px;
}

.grid thead, .grid th a, .grid th a:link, .grid th a:visited {
    background-color: #0094ff;
    color: #ffffff;
    text-align: right !important;
    text-align: right;
    text-decoration: none;
}
.grid-row-style {
    padding: 3px 7px 2px;
}

.grid-alternating-row {
    background-color: azure;
    padding: 3px 7px 2px;
}

.col1Width {
    width: 55px;
}

.col2Width {
    width: 220px;
}

</style >
