﻿@using MvcContrib.UI.Grid;
@using MvcContrib.Pagination;
@using MvcContrib.UI.Pager;
@using WebApp3.Dao;
@{
    ViewBag.Title = "Leader Board";
}
<h2>@ViewBag.Title</h2>

<p>
    @Html.Grid((List<UserDataView>)ViewBag.PlayerData).Columns(colum =>
{
    colum.For(c => Html.ActionLink(c.Username,$"PlayerInfo/{c.Username}","Home")).Named("Name");
    colum.For(c => c.GameCount).Named("Total Games");
    colum.For(c => c.WinCount).Named("Wins");
    colum.For(c => c.Draw).Named("Draws") ;
    colum.For(c => c.Losses).Named("Losses");
    colum.For(c => c.PlayerScore).Named("Total Points");
    colum.For(c => c.AmpersandScore).Named("Ampersand Points");
    colum.For(c => c.NumberGuesses).Named("Total Guesses");
    colum.For(c => c.NumberPossibilities).Named("Total Guesses Possible");
    colum.For(c => $"{(c.HitPercentage*100):0.##}%").Named("Hit Percentage");
    colum.For(c => $"{(c.AverageGameSize):0.##}").Named("Average Game Size");
    
}).Sort((GridSortOptions)ViewData["sort"])
</p>
<div id="pager">
    @Html.Raw(Html.Pager((IPagination)Model))
</div>
