﻿@using WebApp3.Dao;

@ViewBag.PlayerName
<h3>Statistics</h3>
<p>
    @{
        UserDataView userDataView = (UserDataView)ViewBag.player;
        <strong>Total Games: </strong>@userDataView.GameCount<Br />
        <strong>Win Count: </strong>@userDataView.WinCount<Br />
        <strong>Draw: </strong>@userDataView.Draw<Br />
        <strong>Losses: </strong>@(userDataView.GameCount - (userDataView.WinCount - userDataView.Draw))<Br />
        <strong>Total Points: </strong>@userDataView.PlayerScore<Br />
        <strong>Ampersand Points: </strong>@userDataView.AmpersandScore<Br />
        <strong>Total Guesses: </strong>@userDataView.NumberGuesses<Br />
        <strong>Total Guesses Possible: </strong>@userDataView.NumberPossibilities<Br />
        <strong>Hit Ratio: </strong>@userDataView.HitPercentage<Br />
        <strong>Average Game Size </strong>@userDataView.AverageGameSize<Br />
    }
</p>